# Répertoires
.obj/Debug/net8.0/
.wwwroot/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover is a Code Coverage Tool
*.dotCoverture

# Fichiers
*.appsettings.Development.json
*.appsettings.json

.vs/
.obj/

# Tools directory
/.[Tt]ools/
.dotnet/
.packages/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
artifacts/
[Dd]ebug/
[Rr]elease/
x64/
x86/ !eng/common/cross/x86/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
msbuild.ProjectImports.zip
*.binlog
*.complog
/.vs/PatientsMvc/v17/.suo
